*{margin:0;padding: 0;}
body{background-color: white;font-family: sans-serif;}
.container{display:flex;flex-direction:column}
h1{color: black;margin-left: 40px;margin-top: 40px;padding-left:50px;}
h4{color: black;margin-left: 40px;padding-bottom: 50px; padding-left:50px; padding-top: 0px;margin-top: 0px;color: gray;}
.nav-container{background-color: rgb(255, 255, 254);margin-left: 40px;}
nav{justify-content:space-between;align-items:right;}
.nav-container ul {list-style-type: none;justify-content: space-between;} 
.nav-container ul li{float: left;padding: 0.5em;margin-left: 50px;}
.photo{ width: 100%;height: 300px;}
main{display:block;}
.icons{width: 160px;height: 80px;margin-top: 20px;}
.first{display: flex;margin: 0 auto;padding: 60px 10px 60px 10px;}
.second{display: flex;margin-right: 0 auto;padding: 60px 10px 10px 10px;}
.left{padding-left: 20px;}
p{font-size: 13px;padding-bottom: 10px;padding-top: 10px;}
.right{padding-left: 50px;padding-right: 20px;}
footer { display: flex; justify-content: space-between;background-color: rgb(75, 60, 189);
color: white;flex-direction: row;padding: 40px;margin-top: 200px;margin-left:0px;margin-right: 70px; width:100%;}
footer > div{flex: 1; display: flex;justify-content: space-between;padding: 50px;}
footer ul{list-style-type: none;padding: 10px;}
footer ul li{padding-bottom: 30px;} 
iframe {
    width: 160px;
    height: 160px;
}
  @media screen and (max-width: 400px){
 .first {display: block }}
 @media screen and (max-width: 400px){
        .second { display: block }}
 @media screen and (max-width: 400px){
            .contain {display: block; flex-direction: column;}}  
 @media screen and (max-width: 400px){
                .titel li {display: block; }}  
  @media screen and (max-width: 400px){
                    .h1 {font-size: 10px; }}
            